@font-face {
    font-family: 'ARS Maquette Pro';
    src: url('ARSMaquettePro-Regular.eot');
    src: local('ARS Maquette Pro Regular'), local('ARSMaquettePro-Regular'),
        url('ARSMaquettePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ARSMaquettePro-Regular.woff2') format('woff2'),
        url('ARSMaquettePro-Regular.woff') format('woff'),
        url('ARSMaquettePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'ARS Maquette Pro',serif;
  padding-top: 48px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 48px;
  text-transform: uppercase;
  font-size: 0.9em;
}

.menu {
  display: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 48px;
}

.menu li:not(:first-child){
  padding: 0 10px;
}

.menu a {
    color: gray;
    text-decoration: none;
}

.menu li a:hover {
    color: black;
}

.logo {
  width: 106px;
  height: 48px;
}

.search-btn {
  height: 48px;
  width: 49px;
  border-left: 1px solid #eee;
  color: #aaa;
  font-size: 1.3em;
  text-align: center;
  line-height: 48px;
}

.nav-alert {
  height: 30px;
  width: 100vw;
  background-color: #ffdc33;
  padding-left: 116px;
  line-height: 30px;
}
